---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/MODApis/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"SUCCESS","Name":"Tesla Inc","Symbol":"TSLA","LastPrice":325.2,"Change":-6.46000000000004,"ChangePercent":-1.94777784478081,"Timestamp":"Fri
        Dec 22 00:00:00 UTC-05:00 2017","MSDate":43091,"MarketCap":54655388400,"Volume":4215807,"ChangeYTD":213.69,"ChangePercentYTD":52.1830689316299,"High":330.9214,"Low":324.82,"Open":329.51}'
  recorded_at: Mon, 25 Dec 2017 20:45:19 GMT
recorded_with: VCR 4.0.0
